<style type="text/css">
	.btnhol1 button{
		width: 200px;
		background: #000088;
		color: rgb(220, 230, 0);
		height: 40px;
	}
	.btnhol1 button.btn-cancel{
		background: #f0f0f0;
		color: #000088;
		box-shadow: 1px;
	}
	.formaddblog .form-group{
		margin-top: 0;
		margin-bottom: 0;
		padding: 0;
	}
	.formaddblog .form-group .form-control{
		outline: none !important;
		box-shadow: none !important;
		border: 1px solid #000088;
	}
	.formaddblog .form-group .form-control:focus{
		outline: none;
	}
	.customuploadwrapper{
		position: relative;
		margin-top: 5px;
	}
	.customuploadwrapper input{
		width: 200px;
		cursor: pointer;
		height: 40px;
		position: absolute;
		opacity: 0;
	}
	.customuploadwrapper button{
		width: 200px;
		background: #000088;
		color: rgb(220, 230, 0);
		box-shadow: none !important;
		height: 40px;
	}
	.imageswrapperholder{
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}
</style>
<div class="container-fluid">
	<div class="row justify-content-center">
		<div class="col-md-10">
			<h4 class="text-center">Add Blog</h4>
			<p class="text-center text-danger">* please fill in all fields</p>
			<form class="row justify-content-center formaddblog py-2 px-1" method="post" enctype="multipart/form-data">
				<div class="col-md-5">
					<div class="form-group">
						<label>Topic</label>
						<input type="text" name="blogtopic" class="form-control" placeholder="Topic">
					</div>
					<div class="form-group">
						<label>Category</label>
						<select name="blogcategory" class="form-control blogcategory">
							<option value="">Select</option>
							<option>Programming</option>
							<option>Softwares</option>
							<option>Computers</option>
							<option>Phone</option>
							<option>Motivations</option>
						</select>
					</div>
					<div class="form-group">
						<label>Sub-caterogy</label>
						<select name="blogsubcategory" class="form-control blogsubcategory">
							<option value="">Select category</option>
						</select>
					</div>
					<div class="form-group">
						<label>Content</label>
						<textarea type="text" name="blogcontent" class="form-control" placeholder="content"></textarea>
					</div>
					<div class="form-group">
						<label>Grade</label>
						<select class="form-control" name="bloggrade">
							<option value="">Select</option>
							<option>None</option>
							<option>Recommended</option>
							<option>Trending</option>
						</select>
					</div>
				</div>
				<div class="col-md-5 imageswrapperholder">
					<div class="form-group m-2">
						<p class="text-center">Image 1</p>
						<div class="img1hol">
							<img src="" height="200" width="200">
						</div>
						<div class="customuploadwrapper d-flex flex-column">
							<input type="file" name="blogimg1" class="form-control uploadimg1">
							<button type="button" class="btn btn-sm">Select Image</button>	
						</div>
					</div>
				</div>
				<div class="col-md-10 mt-3 btnhol1 d-flex justify-content-center">
					<button class="btn btn-sm mx-2">Save</button>
					<button type="reset" class="btn btn-sm mx-2 btn-cancel btn-outline-danger">Cancel</button>
				</div>
			</form>
		</div>
		
	</div>
</div>
<script type="text/javascript" src="{{url_for('static',filename='scripts/addblog.js')}}"></script>